body {
    background-image: url("/image/background.jpg");
    background-size: cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  body .container {
    margin-top: 15%;
  }
  
  h2 {
    color: #fe7f6e;
    margin: 10px;
    padding: 0;
    font-size: 2rem;
    
  }

  .gameIMG{
    height: 100px;
    width: 100px;
  }